@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');
@import "tailwindcss";

@theme {
    --font-roboto: "Roboto", sans-serif; 
    --font-gabarito: "Gabarito", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}